.hero-container {
  position: relative;
  z-index: 100;
}
.hero-text {
  position: relative;
  z-index: 200;
}
.hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.4;
  background-position: center center;
}
